node_modules
dist
.next
target
**/.next
**/target
**/test_snapshots
.DS_Store
.env
.env.local
.env.*.local
coverage
*.log
*.tsbuildinfo
packages/*/test/*.js
packages/*/test/*.js.map
packages/*/test/*.d.ts
packages/*/test/*.d.ts.map
.vercel
.env*.local
